.cart{
    margin: 10px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(13, 150, 104);
    color: white;
}


.margin{
    margin-top: 40px;
}
.heder{
    
    color: rgb(231, 37, 37);
}